body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
    line-height: 28px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 500;
    color: #3E3E3E;
}
.highlight{
    color: #F46060;

}
.margin{
    margin-bottom: 60px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #FF8063,#F46060);
    color: white;
    padding: 18px 45px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 15px;
}
.blue-color{
    color: #363958
}
.pink-color{
    color: #FF8367;
}
p{
    color: #3E3E3E;
    letter-spacing: 1px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 9%;
    margin-top: 9%;
}


.half-width img{
    width: 100%;

}
#project{
    font-size: 40px;
}